div.easylast_entry {margin-bottom: 1.2em !important; overflow: hidden;}
div.easylast_name {margin-bottom: 0.3em !important; font-weight: bold; font-size: 1em;}
div.easylast_name a {font-weight: bold;}
div.easylast_title {font-weight: bold; font-size: 110%;}
div.easylast_text {}
div.easylast_link {text-align:right;}
div.easylast_noentry {}
div.easylast_small {color:#666666;font-size:92%;text-align: right;}
.easy_center {text-align: center;}